@use '../util' as u; // load util for breakpoint file like a module

.grid{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto;
     gap: u.rem(40);
    //  max-width: 1000px;
     width: min(100% - u.rem(40), u.rem(1000));
     margin-inline: auto;

     @include u.breakpoint(large){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
     }

     &__main, &__sidebar{
        padding: u.rem(40);
     }

    &__main{
        background-color: #040400;

        @include u.breakpoint(medium){ //700px
            background-color: green;
        }
        @include u.breakpoint(large){ // 900px
            background-color: orange;
        }
    }

    &__sidebar{

        @include u.breakpoint-down(medium){
            text-align: center;
        }

        @include u.breakpoint-down(small){
            text-align: right;
        }
    }

    &__widget{
        padding: u.rem(16);        
    }
}