:root{ // racine qui est plus fort de html ou body
    --background-color: #d9d8d7;
    --text-color: #fffcf7;
}

.magenta {
    background-color: hsl(300, 100%, 30%);
}

.green {
    background-color: hsl(120, 100%, 26%);
}